.di-as {
	display: block;
	height: auto;
	overflow: auto;
	padding-right: 10px;
	margin-bottom: 10px;
}

.di-as-new {
	width: 49%;
	float: left;
	cursor: pointer;
	box-sizing: border-box;
}

.di-as-body {
	border: 1px dashed black;
	border-radius: 10px;
	padding: 10px;
	background: #DDD;
}

.di-as-header {
	border-left: 1px dashed black;
	border-right: 1px dashed black;
	border-top: 1px dashed black;
	border-radius: 10px 10px 0 0;
	height: 30px;
	text-align: center;
	line-height: 30px;
	vertical-align: middle;
	display: inline-block;
	padding: 0 10px 0 10px;
	background: #DDD;
	max-width: 50%;
	min-width: 10%;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
	margin-left: 10px;
}

.di-as-header-delete {
	margin-left: 2px;
}

.di-as-media {
	width: 100%;
	overflow: scroll;
}

.di-as-existing {
	width: 49%;
	border: 1px dashed black;
	border-radius: 10px;
	height: 100%;
	float: right;
	box-sizing: border-box;
	overflow: auto;
}

.di-as-existing .di-as {
	cursor: pointer;
}

.di-as-text {
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 10px;
}

.di-as-text label {
	display: block;
}

#di-as-add, #di-a-add, #di-as-edit, #di-a-edit {
	margin: 10px 0 0 0;
	text-align: center;
	width: 100%;
}

.di-as ul {
	list-style:none;
	margin-left: 30px;
	margin-right: 30px;
}

#di-map-canvas {
	width: 50%;
	height: 500px;
	border-radius: 15px 0 0 15px;
	display: inline-block;
	margin: 0;
}

#di-streetview-canvas {
	width: 50%;
	height: 500px;
	border-radius: 0 15px 15px 0;
	display: inline-block;
}

.digging-in-admin-list {
	width: 99%;
	list-style: none;
}

.digging-in-admin-list .di-as-header
, #di-as-edit {
	display: none;
}

.di-menu-toggle {
	margin-left: 10px;
	cursor: pointer;
}
.admin-wrapper {
	width: 100%;
	clear: both;
	margin: 10px 0 10px 0;
}

.admin-wrapper label {
	display: block;
}

.admin-wrapper textarea {
	width: 50%;
}

.admin-wrapper input {
	width: 150px;
}

.di-half-left-float input {
	margin: 0 !important;
}

.di-tour-sites, .di-half-left-float {
	float: left;
	width: 50%;
}

.di-tour-sites h4, .di-half-left-float h4 {
	margin-top: 5px;
	text-align: center;
}

.di-tour-sites ul, .di-half-left-float ul {
	margin: 5px;
	padding: 5px;
	border: 1px solid grey;
	background: white;
	border-radius: 2px;
	overflow: auto;
	max-height: 500px;
	min-height: 20px;
}

.di-tour-sites ul li, .di-half-left-float ul li {
	margin: 4px;
	min-height: 20px;
	background: #EFEFEF;
	cursor: pointer;
}

.di-tour-sites li, .di-half-left-float ul li {
	position: relative;
}

.di-li-text, .di-as-id {
	display: inline;
}

.di-delete {
	position: absolute;
	right: 5px;
	top: 1px;
}

.hidden {
	display: none;
}

#ui-datepicker-div {
	padding: 10px;
	background: white;
	border: 1px solid #AAA;
	border-radius: 0 0 5px 5px;
}

.ui-icon-circle-triangle-w {
	margin-right: 5px;
}

.di-assessment-result-slide, .di-assessment-result-slide-content {
	width: 100%;
	clear: both;
}

.di-assessment-result-slide-content {
	border-bottom: 1px solid #CCC;
	margin-bottom: 10px;
}

.di-asr-container {
	margin-bottom: 10px;
	height: auto;
	display: table;
	width: 100%;
	table-layout: fixed;
}

.di-asr-element {
	width: 25%;
	display: table-cell;
  vertical-align: middle;
	padding: 10px;
}
